#bannersection {
    background-image: url(images/top.jpg);
    background-size: cover;
    background-attachment: scroll;
    position: relative;
    background-position: center top;
    padding: 5em 0em;
    
}

#bannerform{
    width: auto;
    margin-right: 20%;
    background-color: aqua;
    padding-left: 1%;
    padding-top: 1%;
}

.box-card{
    padding: 10px 30px;
}

.hline {
    color: red;
    width: 30%;
    font-weight: bolder;
}