html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

#bannersection {
    background-image: url(images/top.jpg);
    background-size: cover;
    background-attachment: scroll;
    position: relative;
    background-position: center top;
    padding: 5em 0em;
    
}

#bannerform{
    width: auto;
    margin-right: 20%;
    background-color: aqua;
    padding-left: 1%;
    padding-top: 1%;
}

.box-card{
    padding: 10px 30px;
}

video{
    width:100%
    }


.hline {
    color: red;
    width: 30%;
    font-weight: bolder;
    
}

h5 {
	padding:0px;
	margin:0px;
	}


@media (max-width: 576px) { 
     h2, h3, h5{
        text-align: left;
        align-items: start;
        font-size: larger;
        /* color: blue; */
        /* background-color: aqua; */
    }
 }
@include media-breakpoint-up(md) { 
   .img-fluid {

       height: -webkit-fill-available;
   }

 }
@include media-breakpoint-up(lg) {
    .img-fluid {

        height: -webkit-fill-available;
    }
}
@include media-breakpoint-up(xl) { ... }


@media (max-width: 767.98px) { 
    .img-fluid{
        height: -webkit-fill-available !important;
    }

    .section1-b {
        width: 90%;
        /* margin-top: ; */
        flex-direction: column;
        background-color: brown;
    }
 }

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    .img-fluid{
        height: -webkit-fill-available !important;
    }

    .section1-b {
        width: 90%;
        /* margin-top: ; */
        flex-direction: column;
    }
 }

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
    .img-fluid{
        height: -webkit-fill-available !important;
    }
}

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { 
    .img-fluid{
        height: -webkit-fill-available !important;
    }
 }
 .video-section .item{
    opacity:0.4;
    transition:.4s ease all;
    margin:0 20px;
    transform:scale(.8);
    width: fit-content;
    display: flex;
    direction: ltr;
    height: auto;
    opacity: 0.6;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-top: 20px;

  }
  
  @media(max-width:1000px){
    .video-section .item{margin:0; transform:scale(.9)}
  }
  
  .video-section .active .item{
    opacity:1;
    transform:scale(1);
  } 
  
  body{
    margin:80px 0 0 0;
  }
  
  .video-section .owl-item {
      -webkit-backface-visibility: hidden;
      -webkit-transform: translateZ(0) scale(1.0, 1.0);
  }
  
  .video-section video{
    max-width:100%;
    height:auto;
  }

  .owl-carousel {
    height: 500px;
  }
  .owl-video{
    height: 500px;
  }